body {
    background-image: url("../img/DOFA\ Peradeniya.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-animation-name: ScreenFade;
    -webkit-animation-duration: 3s;
    animation-name: ScreenFade;
    animation-duration: 3s;
}

@-webkit-keyframes ScreenFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes ScreenFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* Navigation Bar */

.nav-bar {
    background-color: rgba(255, 255, 255, 0.637);
    backdrop-filter: blur(20px);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.541);
    height: 100px;
    white-space: nowrap;
}

.nav-items {
    float: right;
    text-align: right;
    list-style-type: none;
    display: flex;
}

.nav-link {
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    top: 8px;
    color: black;
    font-weight: 1;
    border: none;
    border-radius: 6px;
}

.nav-link:hover {
    color: black;
    background-color: rgb(220, 220, 220);
    border-radius: 6px;
    padding: 15px;
}

.nav-img {
    border-radius: 10px;
    position: relative;
    left: 30px;
}

.nav-label {
    position: relative;
    left: 45px;
    font-size: 20px;
    bottom: 12px;
    color: black;
    cursor: pointer;
}

.nav-label:hover {
    color: rgb(70, 70, 70);
    cursor: pointer;
}

.mini-label {
    position: relative;
    right: 167px;
    top: 15px;
    font-size: 15px;
    font-weight: 1;
    color: black;
}

.mini-label:hover {
    color: rgb(88, 88, 88);
    cursor: pointer;
}

.dropbtn {
    background-color: transparent;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
}

.dropdown-content {
    background-color: rgb(255, 255, 255);
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 9.5rem;
    padding: 6px;
    border-radius: 3px;
    top: 62px;
}

.drop-link {
    color: #212529;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 0.25rem;
    padding: 6px 10px;
    font-size: 13px;
    height: 35px;
    background-color: rgb(245, 245, 245);
}

.drop-link:hover {
    background-color: rgb(204, 204, 204);
    color: black;
    border-radius: 0.25rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #dedede;
}

.dropdown-content {
    width: 100%;
}

.social-media {
    position: relative;
    left: 230px;
    padding: 10px;
    color: #6c757d;
}

.social-media:hover {
    color: blue;
    cursor: pointer;
}
